body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.inbox {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.email-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.email-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

.email-item .sender {
    font-weight: bold;
    flex: 1;
}

.email-item .date {
    font-size: 12px;
    color: #888;
}

.subject {
    flex: 2;
}

/* Estilos para dispositivos menores que 768px (geralmente smartphones) */
@media only screen and (max-width: 767px) {
    .email-item {
        flex-direction: column;
        align-items: flex-start;
    }

    /* .email-item .subject {
        flex: 2;
        margin-top: 5px;
    }

    .email-item .sender {
        margin-top: 5px;
    }

    .email-item .date {
        margin-top: 5px;
    } */
}
