<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/cfb70279ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/BotaoChamada.css">

    <title>Botão</title>
</head>
<body>
    <button class="encerra"><i class="fa-solid fa-phone-slash"></i></button>

    <div class="transition"></div>

    <!-- <div class="transition-timing-function" id="div1"><p>linear- especifica um efeito de transição com a mesma velocidade do início ao fim</p></div><br>
    <div class="transition-timing-function" id="div2"><p>ease-in- especifica um efeito de transição com um início lento</p></div><br>
    <div class="transition-timing-function" id="div3"><p>ease-out- especifica um efeito de transição com um final lento</p></div><br>
    <div class="transition-timing-function" id="div4"><p>ease-in-out- especifica um efeito de transição com início e fim lentos</p></div><br> -->
</body>
</html>