<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/position.css">

    <title>Posições</title>
</head>
<body>
    <div class="sticky">
        <P>position: sticky</P>
    </div>

    <div id="parent1">
        <p>position: static</p>
        <div id="child1">
            <p>position: absolute, right: 15px, top: 70px</p>
        </div>
    </div>

    <div id="parent2">
        <p>position: relative.</p>
        <div id="child2">
            <p>position: absolute, right: 15px, top: 70px</p>
        </div>
    </div>

    <div id="parent3">
        <p>position: absolute, top: 750px, right: 15px.</p>
        <div id="child3">
            <p>position: absolute, right: 15px, top: 70px</p>
        </div>
    </div>

    <div id="parent4">position: fixed, bottom: 0, left: 0, right: 0.
        <div id="child4">position: absolute, right: 15px, top: 70px</div>
    </div>
</body>
</html>