input, textarea, select {
    display: block;
    margin-bottom: 10px;
}

input[type=radio],
input[type=checkbox] {
    display: inline;
}

.tema {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: rgb(17,27,33);
}
