.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(https://t4.ftcdn.net/jpg/05/18/77/63/360_F_518776302_XZQkgR5kuSZyuchfvOT2jT0dhvj3E7BB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

